
$purple: #ff00ae;
$white: #ffffff;
$pale-white: hsla(0, 0%, 100%, .6);
$btn-bg: #A40FFF;
$cursor-bg: #00D1FF;
$aqua: #00D1FF;
$btn-bgopacity: hsla(277, 100%, 53%, .3);
$bg: rgba(32, 41, 59, 0.992);
$whiteopc: hsla(0, 0%, 100%, .5);
$transition: all .5s ease-in-out;
$cursor: url("../public/img/cursorPointer.svg"), auto;
$btmBorder: 10px solid #A40FFF;
$fontFamily: 'Varela Round', sans-serif;
$fsizeTitle: 4rem;
$color: #2302fa03;

$sm: 480px;
$small-device:500px;
$xxs:320px;
$xls:600px;
$xlsh:500px;
$xms:375px;
$md:780px;
$lg:1024px;
$xlg:1440px;
$xxlg:5000px;
$headervh:100vh;
$header-padding:10vw;
$divider:(4/3);
$xd-width:1920;
$xd-height:1080;
$width-of-container:(85px/$divider);
$menu-height:54px;
$gray_color:#EFE9F8;
$gray-main-color:#bfbfbf;

   
