@import "../../../public/mixins.scss";
@import "../../../public/variables.scss";

#experience {
  :global {
    @include page-setting;
    padding-top: 2rem;
    position: relative;

    .pageTitle {
      @include font-size-titl;
    }
    .animate {
      background-image: url("../../../public/img/animate.gif");
      position: absolute;
      inset: -2rem -4rem 30% -4rem;
      z-index: -1;
      opacity: 0.06;
      filter: blur(5px);
      @include mq($md) {
        opacity: 0.07;
      }
      background-size: contain;
      background-position: center;
    }
    .exp-box {
      margin: 0;
      padding: 0;
      flex: 1 1 50%;
    }
    .exp1 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      gap: 30px;
      background-blend-mode: luminosity;
      @include mq($md) {
        flex-direction: column;
      }
      .info {
        max-width: 30%;
        @include mq($md) {
          max-width: 100%;
        }
      }
    }
    .exp1 div p {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 2;
      padding-left: 2rem;
      font-weight: bold;
      line-height: 2rem;
      padding-top: 1rem;
      @include font-sizeSubhdr;
    }
    .exp1 .projectBox {
      display: flex;
      flex-grow: 1;
      gap: 30px;
      @include mq($md) {
        justify-content: center;
        width: 100%;
      }
    }
    .exp1 .projectBox .show-project {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .exp1 .projectBox .show-project img {
      width: 70%;
      flex-shrink: 2;
      height: 20vh;
      margin-bottom: 1rem;
    }
    .show-project > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .show-project > div span {
      margin-bottom: 1rem;
    }
    .btn {
      background-color: var(--btn-bg);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition);
      border-radius: 0.3rem;
      padding: 0.6rem;
      cursor: var(--cursor) !important;
    }
    .show-project #btnShowProject {
      cursor: pointer;
    }
    .show-project #btnShowProject:hover {
      background-color: var(--bg);
      border: 1px solid var(--btn-bg);
    }
    .btn a {
      color: var(--white);
      cursor: var(--cursor);
      text-decoration: none;
      width: 100%;
      height: 100%;
    }
    .projectBox .phoneRotate {
      overflow: hidden;
      flex-grow: 1;
    }
    .projectBox .phoneRotate img {
      transition: all 3s ease-in-out 1s;
      animation: rotatePhone 2s infinite;
      max-height: 800px;
      max-width: 500px;
      @include mq($xlg) {
        max-height: 600px;
        max-width: 300px;
      }
      @include mq($md) {
        max-height: 500px;
        max-width: 200px;
      }
      @include mq($sm) {
        max-height: 400px;
        max-width: 200px;
      }
      @include mqh(500px) {
        max-height: 400px;
        max-width: 200px;
      }
    }
    @keyframes rotatePhone {
      0% {
        transform: rotateY(0deg);
      }
      10% {
        transform: rotateY(33deg);
      }
      20% {
        transform: rotateY(66deg);
      }
      30% {
        transform: rotateY(132deg);
      }
      40% {
        transform: rotateY(165deg);
      }
      50% {
        transform: rotateY(198deg);
      }
      60% {
        transform: rotateY(231deg);
      }
      70% {
        transform: rotateY(264deg);
      }
      80% {
        transform: rotateY(297deg);
      }
      90% {
        transform: rotateY(330deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }
    .exp2 {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      position: relative;
      z-index: 20;
      padding-bottom: 2rem;
      @include mq($md) {
        padding: 0;
      }
    }
    .exp2 h2 {
      text-align: center;
      font-weight: bold;
    }
    .exp2 .bigBoxOtherProj {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      min-height: calc(32vh + 5rem);
      @include mq($md) {
        flex-direction: column;
        align-items: center;
      }
    }
    .otherProjectsBox {
      width: 50%;
      position: relative;
      min-height: calc(32vh + 5rem);
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: flex-end;
      @include mq($md) {
        width: 100%;
      }
      @include mq(550px) {
        flex-direction: column;
      }
    }
    .exp2 .bigBoxOtherProj .otherProjectsBox > div {
      border: 1px solid var(--btn-bg);
      margin: 0.3rem;
      border-radius: 0.9rem;
      width: 50%;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      height: 30vh;
    }
    .otherProjectsBox > div h4 {
      margin: 0 0 1rem 0;
      padding: 0;
    }
    .otherProjectsBox > div p {
      margin: 0 0 1rem 0;
      padding: 0;
      font-size: 0.9rem;
    }
    .otherProjectsBox .bg {
      background-color: var(--btn-bg);
      position: absolute;
    }
    .otherProjectsBox .engineer {
      justify-content: flex-end;
      left: -5%;
      padding-left: 5%;
      @include mq(500px) {
        position: relative;
        inset: 0;
      }
    }

    .otherProjectsBox .studio {
      right: -5%;
      padding-right: 5%;
      @include mq(500px) {
        right: 0;
      }
    }

    .otherProjectsBox .nobg {
      background-color: var(--bg);
      position: absolute;
      z-index: 30;
      top: -5rem;
      @include mq(500px) {
        top: 1rem;
      }
    }
    .otherProjectsBox #xx{
      @include mq(500px) {
        position: relative;
        inset: 0;
        align-self: center;
        width: 100%;
      }
    }

    .Demo {
      background-color: transparent !important;
      cursor: var(--cursor);
      width: fit-content;
      color: var(--white);
      border-radius: 0.4rem;
      border: 1px solid var(--btn-bg);
      position: absolute;
      bottom: 1rem;
    }
    .bg .Demo {
      border: 1px solid var(--bg);
    }
    .bg .Demo:hover {
      background-color: var(--bg) !important;
    }
    .nobg .Demo:hover {
      background-color: var(--btn-bg) !important;
    }
  }
}
